body{
 padding-top: 2em; 
}
ul li.context{
 display: none;
}
ul:hover li.context{
 display: block;
 text-align: center;
 padding: 1em;
 background-color: #c7c7c7;
 border: 1px solid #000;
 border-radius: 1em;
}
